<div class="story-body">
    <h2>Chinese Investment Globally</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-China-FDI-US-02"></div>
</div>

<script src="scripts/chart-China-FDI-US-02.js"></script>
