<div class="story-body">
    <h2>Chinese Global Investment: A Diverse Trend</h2>
    <p>Chinese investment grows in Africa and South American while declines in Europe and the United States ($million).</p>
    <div id="chart-China-FDI-US-02"></div>
    <p class="chart-source">Source: The American Enterprise Institute</p>
</div>
<div class="story-body">
  <p><strong>Roles involved: </strong>Data cleaning, Python, design, d3.js and web implementation</p>
  <p><strong>Data and codes: </strong><a href="https://github.com/mingligraphics/data-studio-projects/tree/master/Week%204/China_FDI">Github Page</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src=""></p>
  <p></p>
</div>

<script src="scripts/chart-China-FDI-US-02.js"></script>