<div class="story-body">
    <p>Chinese companies invested only 4.8 billion U.S. dollars in the United States in 2018, down 84 percent from 29 billion U.S. dollars in 2017 and 90 percent from 46 billion U.S. dolallrs in 2016. </p>
    <p>This represents the lowest level seen in seven years, as the ranging trade war since early 2018 between the two sides worsened the situation.</p>
    <div id="chart-China-FDI-US-01"></div>
    <p class="chart-source">Source: Rohdium Group</p>
</div>
<div class="story-body">
  <p><strong>Roles involved: </strong>Data cleaning, Python, design, d3.js, d3-annotation and web implementation</p>
  <p><strong>Data and codes: </strong><a href="https://github.com/mingligraphics/data-studio-projects/tree/master/Week%204/China_FDI">Github Page</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src=""></p>
  <p></p>
</div>
<link rel="stylesheet" href="styles/China-FDI-US.css">
<script src="scripts/chart-China-FDI-US-01.js"></script>
