<div class="story-body">
  <p>The time spent on unpaid work such as household chores or shopping exposes huge gender gaps, a latest OECD study has showed. </p>
  
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src=></p>
  <p>Phasellus lacus lectus, semper ut mollis vitae, fermentum ac massa. Duis pulvinar, lorem non interdum bibendum, sapien tellus volutpat massa, mollis sodales lectus ligula eget ex. Donec hendrerit imperdiet commodo. Fusce ut leo sed purus posuere tempor ut bibendum lectus. Aenean sem purus, euismod ut fringilla ultricies, convallis a nulla.</p> --}}
</div>