<div class="story-body">
    <h2></h2>
    <p>Mexican women spend the most time on these tasks at 6 hours and 23 minutes a day while Mexican men spend an average of 2 hours and 17 minutes on unpaid work. In India, women on average do 5 hours more unpaid work than men everyday, the widest gap in the world.</p> 
    <p>Japanese men do the least amount of unpaid work, about 40 minutes per day. The most helpful men are the Danes who spend 3 hours and 6 minutes a day helping out at home. </p>
    <div id="chart-1"></div>
</div>
<script src="scripts/gender-gap-unpaid-work/chart-01.js"></script>


