<div class="story-body">
    <h2>Here is a chart</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-02.js</code> inside of this partial</p>
    <div id="chart-2"></div>
</div>
<script src="scripts/gender-gap-unpaid-work/chart-02.js"></script>