<div class="story-body">
    <h2></h2>
    <p>In terms of leisure time, the gender gap is smaller. But it is still true that men have more leisure time each day in every country. Mexcican women have the least amount of leisure time, around 2 hours 44 minutes a day. Men enjoy the most leisure time are in Italy, with over 6 hours and 6 minutes in total.</p>
    <div id="chart-2"></div>
</div>
<script src="scripts/gender-gap-unpaid-work/chart-02.js"></script>