<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="index.hbs">Ming Li</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"><strong>Chinese Investment</strong></a>
        <ul><a class="nav-link" href="China-FDI-US.hbs">Chinese Investment in U.S. Slumped amid Trade War</a></ul>
        <ul><a class="nav-link" href="China-FDI-US-Industry.hbs">Chinese Investment in U.S. by Industry</a></ul>
        <ul><a class="nav-link" href="China-FDI-Globally.hbs">Chinese Investment Globally (2015 - 2018)</a></ul>
      </li>
      <li class="nav-item">
        <a class="nav-link"><strong>Asian American in Politics</strong></a>
      </li>
    </ul>
  </div>
</nav>